<section>
    <div class="container">
      
      <a href="/admin/adminAddProducts" class="btn btn-success  mt-4 " role="button">
      Add Products</a>
       
      
        <table class="table mt-5 ">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
     {{#each products}}
    
     
    <tr>
     
      <th scope="row">{{@index }}</th>
      <td>{{this.item}}</td>
      <td>{{this.price}}</td>
      <td>{{this.quantity}}</td>
      <td><img style="width:70px;height:50px; " src="/product-image/{{this._id}}.jpg" alt=""></td>
    </tr>
    {{/each}}
    
  </tbody>
</table>

    </div>
</section>