<section>
    <div class="container bg-success  ">
        <form action="/admin/editProduct/{{product._id}}" method="post" enctype="multipart/form-data">
            <h1 class="text-center">Edit Product</h1>
            <label for="item">Item Name</label>
            <input class="form-control" type="text" name="item" value="{{product.item}}">
            <label for="price">Price</label>
            <input class="form-control" type="text" name="price"  value="{{product.price}}" >
             <label for="price">Quantiy</label>
            <input class="form-control" type="text" name="quantity"  value="{{product.quantity}}">

 
    <label for="">Image</label>
    <img style="width:70px;height:50px; " src="/product-image/{{product._id}}.jpg" alt="" id="input">
    <input type="file" class="form-control-file" name="image"  onchange="viewImage(event)">
 
  <button type="submit" class="btn btn-primary  ">Submit</button>
</form>
    </div>
</section>
<script>
    function viewImage(event){
        document.getElementById('input').src=URL.createObjectURL(event.target.files[0])
    }
</script> 